<!-- Main Wrapper -->
<div class="main-wrapper">

    <!-- Breadcrumb -->
    <div class="breadcrumb-bar-two">
        <div class="container">
            <div class="row align-items-center inner-banner">
                <div class="col-md-2 col-2">
                    <a href="/receptionist" class="menu-logo">
                        <img src="assets/img/Medipilot360.png" class="img-fluid" alt="Logo">
                    </a>
                </div>
                <div class="d-none col-md-10 col-10 text-center">
                    <h2 class="breadcrumb-title">Total Patients</h2>
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/doctor">Home</a></li>
                            <li class="breadcrumb-item">Total Patients</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->

    <!-- Page Content -->
    <div class="content">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 col-xl-3 theiaStickySidebar">
                    <app-asidebar class="h-100"></app-asidebar>
                </div>

                <div class="col-lg-8 col-xl-9">
                    <div class="dashboard-header">
                        <h3>Patients</h3>

                        <ul class="header-list-btns">
                            <li class="me-2">
                                <div class="input-block dash-search-input">
                                    <input type="text" class="form-control" placeholder="Search Patient..."
                                        [(ngModel)]="searchText" (input)="searchPatients()">
                                    <span class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                                </div>
                            </li>
                            <li>
                                <a routerLink="/doctor/patient/addpatient" class="btn btn-primary">+ Add New</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Patient List UI (same card style as appointments) -->
                    <div class="appointment-tab-content ">
                        <div class="appointment-wrap position-relative border rounded p-3 mt-2" *ngFor="let p of paginatedPatients">
                            <div class="row d-flex align-items-center">
                                <!-- Gender + Name -->
                                <div class="col-lg-3">
                                    <div class="patinet-information">
                                        <div class="patient-info">
                                            <!-- <p>#{{ p.id }}</p> -->
                                            <h6>
                                                <!-- Gender -->
                                                @if(p.gender.toLowerCase() === 'm' || p.gender.toLowerCase() ===
                                                'male'){
                                                <i class="fa-solid fa-mars color-cyan-400 me-1"></i>
                                                }
                                                @else if(p.gender.toLowerCase() === 'f' || p.gender.toLowerCase() ===
                                                'female'){
                                                <i class="fa-solid fa-venus color-rose-light me-1"></i>
                                                }
                                                @else{
                                                <i class="fa-solid fa-transgender"></i>
                                                }
                                                {{ p.fullName }}
                                            </h6>
                                        </div>
                                    </div>
                                </div>


                                <!-- DOB & ABHA -->
                                <div class="appointment-info col-lg-3">
                                    <p> DOB: {{ p.dob | date:'dd/MM/yyyy'}}</p>
                                    <p class="d-flex apponitment-types mb-0">
                                        <span>ABHA Id: {{ p.abhaId }}</span>
                                    </p>
                                </div>

                                <!-- Phone -->
                                <div class="mail-info-patient col-lg-2">
                                    <span> {{ p.phone }}</span>

                                </div>

                                <!-- Address -->
                                <div class="col-lg-4">
                                    <span class="d-flex align-items-center gap-1">
                                        {{ p.address }}
                                    </span>
                                </div>

                            </div>

                            <!-- Actions -->
                            <div class="d-none card-action-btns">
                                <div class="d-flex gap-2">
                                    <a><i class="fa-solid fa-eye"></i></a>
                                    <a><i class="fa-solid fa-pen"></i></a>
                                    <a><i class="fa-solid fa-trash"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pagination dashboard-pagination mb-5" *ngIf="totalPages > 1">
                        <ul>

                            <!-- Previous -->
                            <li>
                                <a class="page-link" (click)="previousPage()">
                                    <i class="fa-solid fa-chevron-left"></i>
                                </a>
                            </li>

                            <!-- Page Numbers -->
                            <li *ngFor="let p of [].constructor(totalPages); let i = index">
                                <a class="page-link" [class.active]="pageNumber === (i + 1)" (click)="goToPage(i + 1)">
                                    {{ i + 1 }}
                                </a>
                            </li>

                            <!-- Next -->
                            <li>
                                <a class="page-link" (click)="nextPage()">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->

</div>
<!-- /Main Wrapper -->