
<div class="main-wrapper">

  <div class="menu-header"></div>

  <app-header-common></app-header-common>
  <!-- Page Content -->
  <div class="content p-0">
    <div class="container-fluid p-0 m-0">
      <div class="row p-0 main-layout-row">

        <!-- Sidebar (Fixed) -->
        <div class="col-lg-3 col-xl-2 sidebar-fixed p-0">
          <app-admin-sidebar></app-admin-sidebar>
        </div>

        <!-- Main Content -->
        <div class="col-lg-9 col-xl-10 p-0 content-wrapper">
          <div class="router-scroll">
            <router-outlet></router-outlet>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- /Page Content -->

</div>
