  <!-- Dashboard Tabs -->
  <ul class="nav nav-pills mb-4 dashboard-tabs">
    <li class="nav-item">
      <button class="nav-link" [class.active]="activeTab === 'today'" (click)="onTabChange('today')">
        Today
      </button>
    </li>

    <li class="nav-item">
      <button class="nav-link" [class.active]="activeTab === 'overall'" (click)="onTabChange('overall')">
        Overall
      </button>
    </li>
  </ul>
  <div class="col-12">
    <h5 class="mb-3 fw-bold">
      {{ activeTab === 'today' ? "Today's Overview" : 'Overall Overview' }}
    </h5>
  </div>

  <div class="row">
    <ng-container *ngFor="let card of dashboardCards">
      <div
        class="col-xl-3 col-md-6 mb-3"
        *ngIf="authService.hasFeature(card.featureKey)"
      >
        <div
          class="dashboard-widget-box"
          [class.cursor]="card.click"
          (click)="card.click && card.click()"
        >
          <div class="dashboard-content-info">
            <h6>{{ card.title }}</h6>
            <h4>
              {{ card.title === 'Revenue' ? '₹' : '' }}{{ card.value() }}
            </h4>
          </div>

          <div class="dashboard-widget-icon">
            <span class="dash-icon-box appointment-info">
              <i class="fa-solid" [ngClass]="card.icon"></i>
            </span>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
