/* Users component table styles */
.table-controls .form-select { min-width: 80px; }
.table-controls .dash-search-input { width: 260px; }
.avatar.rounded-circle { overflow: hidden; }
.table .avatar { width: 48px; height: 48px; display: flex; align-items: center; justify-content: center; border-radius: 50%; }
.table .fw-semibold { font-weight: 700; }
.btn-primary{
    background: linear-gradient(135deg, #19c7e5 0%, #19c7e5 100%);
    border: none;
}