/* Sidebar Container */
.app-sidebar {
  width: 260px;
  height: 100vh;
  background-color: #1e5b8c; /* exact blue tone */
  color: #ffffff;
  padding: 20px 20px;
  font-family: 'Inter', sans-serif;
}

/* Section Title */
.sidebar-title {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #cfe3f4;
  padding: 0 24px 12px;
  text-transform: uppercase;
}

/* Menu */
.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Menu Item */
.sidebar-menu li {
  margin-bottom: 4px;
}

/* Menu Link */
.sidebar-menu li a {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 12px 24px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.25s ease;
}

/* Icons */
.sidebar-menu li a i {
  font-size: 18px;
  width: 22px;
  text-align: center;
}

/* Arrow */
.sidebar-menu li a .arrow {
  margin-left: auto;
  font-size: 12px;
  opacity: 0.7;
}

/* Hover */
.sidebar-menu li a:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

/* Active */
.sidebar-menu li.active a {
  background-color: #19c7e5; /* cyan active */
  color: #ffffff;
}

/* Active icon */
.sidebar-menu li.active a i {
  color: #ffffff;
}
.submenu {
  padding-left: 20px;
}

.fa-chevron-down {
  transition: transform 0.2s ease;
}

.fa-chevron-down.rotate {
  transform: rotate(180deg);
}


.app-sidebar {
  overflow-y: auto;
  scrollbar-width: none;
}

// .app-sidebar:hover {
//   scrollbar-width: thin;
// }

.app-sidebar::-webkit-scrollbar {
  width: 0;
}

.app-sidebar:hover::-webkit-scrollbar {
  width: 6px;
}

.app-sidebar:hover::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}
