<!-- Dashboard Tabs -->
<ul class="nav nav-pills mb-4 dashboard-tabs">
  <li class="nav-item">
    <button class="nav-link" [class.active]="activeTab === 'today'" (click)="changeTab('today')">
      Today
    </button>
  </li>

  <li class="nav-item">
    <button
      class="nav-link"
      [class.active]="activeTab === 'overall'"
      (click)="changeTab('overall')"
    >
      Overall
    </button>
  </li>
</ul>

<div class="row mb-4" *ngIf="activeTab === 'today' || activeTab === 'overall'">
  <div class="col-12">
    <h5 class="mb-3 fw-bold">{{ activeTab === 'today' ? "Today's Overview" : 'Overall Overview' }}</h5>
  </div>
  @if(isSuperAdmin){
<div class="col-xl-3 col-md-6 mb-3">
    <div class="dashboard-widget-box">
      <div class="dashboard-content-info">
        <h6>Total Hospitals</h6>
        <h4>{{ totalHospitals }}</h4>
      </div>
      <div class="dashboard-widget-icon">
        <span class="dash-icon-box appointment-info">
          <i class="fa-solid fa-hospital"></i>
        </span>
      </div>
    </div>
  </div>
  }
@if(isAdmin){
<div class="col-xl-3 col-md-6 mb-3">
  <div class="dashboard-widget-box">
    <div class="dashboard-content-info">
      <h6>Doctors</h6>
      <h4>{{ totalDoctors }}</h4>
    </div>
    <div class="dashboard-widget-icon">
      <span class="dash-icon-box appointment-info">
        <!-- Doctor Icon -->
        <i class="fa-solid fa-user-doctor"></i>
      </span>
    </div>
  </div>
</div>

<div class="col-xl-3 col-md-6 mb-3">
  <div class="dashboard-widget-box">
    <div class="dashboard-content-info">
      <h6>Patients</h6>
      <h4>{{ totalPatients }}</h4>
    </div>
    <div class="dashboard-widget-icon">
      <span class="dash-icon-box appointment-info">
        <!-- Patients Icon -->
        <i class="fa-solid fa-users"></i>
      </span>
    </div>
  </div>
</div>

<div class="col-xl-3 col-md-6 mb-3">
  <div class="dashboard-widget-box">
    <div class="dashboard-content-info">
      <h6>Appointments</h6>
      <h4>{{ totalAppointments }}</h4>
    </div>
    <div class="dashboard-widget-icon">
      <span class="dash-icon-box appointment-info">
        <!-- Appointment Icon -->
        <i class="fa-solid fa-calendar-check"></i>
      </span>
    </div>
  </div>
</div>

<div class="col-xl-3 col-md-6 mb-3">
  <div class="dashboard-widget-box">
    <div class="dashboard-content-info">
      <h6>Revenue</h6>
      <h4>₹{{ totalRevenue }}</h4>
    </div>
    <div class="dashboard-widget-icon">
      <span class="dash-icon-box appointment-info">
        <!-- Revenue Icon -->
        <i class="fa-solid fa-indian-rupee-sign"></i>
      </span>
    </div>
  </div>
</div>
  
}
</div>


