.dNone { display: none !important;}
.flex { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; }
.mt4{margin-top: 4px;}
.ml4{margin-left: 4px;}
.mb4{margin-bottom: 4px;}
.ml12{margin-left: 12px;}
.mt4{margin-top: 4px;}
.mt8{margin-top: 8px;}
.mb8{margin-bottom: 8px;}
.pl24{padding-left: 24px;}
.pr24{padding-right: 24px;}
.pt16{padding-top: 16px;}
.ml24{margin-left: 24px;}
.mr24{margin-right: 24px;}
.mt24{margin-top: 24px;}
.mt8{margin-top: 8px;}
.pl32{padding-left: 32px;}
#rmMsgPopup {
	width: 247px;
	height: 73px;
	position: absolute;
	background-color: #1849A9;
	border-radius: 8px;
	z-index: 1040;
	top: 60px;
	right: 35px;
}
#rmMsgPopup .hx_close{
	font-size: 20px;
}
.rm-modal-backdrop{
	background: rgba(0, 0, 0, 0.7);
	position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
}
.rmMsgTail{
	width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #1849A9;
    margin-top: -10px;
    margin-left: 120px;
}
.rmMsgHeading{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	color: #FFFFFD;
}
.rmMsgContent{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: #D0D5DD;
}
#rmFirstMsgPopup{
	z-index: 2000;
	position: absolute;
	width: 600px;
	height: fit-content;
	left: 0;
	top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
	background: #FFFFFF;
	box-shadow: 0px 8px 12px rgba(9, 30, 66, 0.15), 0px 0px 1px rgba(9, 30, 66, 0.31);
	border-radius: 24px;
}
#rmFirstMsgPopup .hx_close{
	font-size: 20px;
	color: black;
	margin-left: 550px;
	position: absolute;
}
#rmFirstMsgPopup button{
	width: 126px;
	height: 40px;
	background: #1570EF;
	border: 1px solid #1570EF;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
	border-radius: 8px;
	color: #FFFFFF;
	margin-top: 16px;
	margin-left: 240px;
}
.rmFirstMsgHeading{
	color: #344054;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 31px;
	text-align: center;
}
.rmFirstMsgContent{
	color: #667085;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 31px;
	text-align: center;
}
.rmFirstMsgInfo{
	color: #243951;
	font-family: 'Nunito Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
}