body {
	height: 100%;
}
.support-form {
	position: fixed;
	bottom: 0;
	right: -300px;
	background-color: white;
	z-index: 9999;
	box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.4) !important;
	border-radius: 4px 0 0 4px;
	transition: right 500ms, width 500ms;
	width: 0px;
	display: flex;
	top: 50px;
	overflow: auto;
	flex-direction: column;
}
.support-form.support_show {
	right: 0;
	width: 300px;
}
.support-widget-btn {
	position: absolute;
	right: 12px;
	z-index: 12;
	border: none;
	background: #1976d2;
	color: white;
	padding: 10px;
	border-radius: 4px;
}
.support-form-header {
	position: sticky;
	top: 0;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
	border-bottom: 1px solid #999;
	z-index: 13;
}
.support-form-header h5 {
	margin: auto;
}
.support-form .close {
	margin-left: auto;
	cursor: pointer;
}
.support-form .fields {
	padding: 10px 15px;
}

.support-form-field {
	padding-bottom: 10px;
}

.support-form-field,
.support-form-field select,
.support-form-field textarea,
.support-form-field input {
	width: 100%;
}

.support-form-field select,
.support-form-field input {
	height: 36px;
}

.support-submit-btn {
	z-index: 12;
	border: none;
	background: #1976d2;
	color: white;
	border-radius: 4px;
	height: 36px;
	width: 100%;
	transition: color 300ms, background 300ms;
}

.support-btn-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 15px;
}

.zoho.help-button {
	z-index: 3;
	margin-top: 5px;
}

.support-form-file {
	height: 36px;
	line-height: 16px;
	width: 110px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #ccc;
	border-radius: 4px;
	color: #4a90e2;
	font-size: 14px;
	background: #fff;
	cursor: pointer;
	position: relative;
	width: 20%;
	margin-right: 10px;
}
.support-input-file {
	display: none;
}

.support_call_info {
	padding: 10px 0;
	margin: 0 20px;
	border-bottom: 1px solid #dedddd;
	text-align: center;
}
.req_callback {
	margin-bottom: 0px !important;
}
.req_call_disabled_message,
.support_disabled_message {
	padding: 10px 0;
	margin: 0 20px;
	color: red;
	text-align: justify;
	margin-top: 0px !important;
	padding-top: 0px !important;
	display: none;
}
.req_call_disabled_message.active,
.support_disabled_message.active {
	display: flex;
}
.support-ticket {
	padding: 10px 0;
	margin: 0 20px;
	border-bottom: 1px solid #dedddd;
	display: flex;
	justify-content: space-between;
	padding-bottom: 12px;
}

.support-tkt-left {
	width: calc(100% - 18px);
}

.support-subject {
	font-weight: 500;
}

.support-firstname {
	font-weight: 400;
	font-size: 12px;
}

.support-tkt-wrapper {
	display: flex;
	align-items: center;
	color: rgba(0, 0, 0, 0.6);
}

.support-tkt-no {
	color: rgba(0, 0, 0, 0.6);
}

.support-status {
	color: rgba(0, 0, 0, 0.6);
}

.support-priority {
	height: 16px;
	width: 16px;
	border-radius: 2px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ccc;
	font-weight: 600;
	font-size: 12px;
}

.support-circle {
	height: 4px;
	width: 4px;
	border-radius: 50%;
	background-color: #ccc;
	margin: 0 5px;
}

.support-select-opt {
	padding: 20px;
}

.custom-file {
	position: relative;
	font-family: helvetica;
	overflow: hidden;
	margin-bottom: 30px;
	margin-top: 30px;
	width: auto;
	display: block;
	padding: 10px;
}

.custom-file-input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 0;
	z-index: 100;
}

.custom-file img {
	vertical-align: middle;
	margin-right: 10px;
}

ul.file-list {
	list-style: none;
	padding: 0;
}

ul.file-list li {
	display: flex;
	justify-content: space-around;
	background: #f4f4f4;
	font-size: 12px;
	display: flex;
	align-items: center;
	margin: 0 0 2px;
	padding: 4px 25px 4px 5px;
	margin: 0 15px 2px;
}

.remove-list {
	cursor: pointer;
	margin-left: 10px;
}

.support-form-file-label {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
	height: calc(1.5em + 0.75rem + 2px);
	padding: 0.375rem 0.75rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
}

.zoho-help-button {
	/*background: rgba(0, 0, 0, 0.25);*/
	height: 32px;
	width: 32px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	margin-right: 10px;
	cursor: pointer;
	color: white;
}

.rmSignal {
	border-radius: 50%;
	height: 7px;
	width: 7px;
	background-color: #56c454;
	border: none;
	margin-left: 20.5px;
	margin-top: 2px;
	position: absolute;
}

.zoho-help-nonlogged {
	position: absolute;
	bottom: 6px;
	right: 6px;
	height: 40px;
	width: 40px;
	background-color: #1976d2;
	text-align: center;
	font-weight: 400;
	box-shadow: 0px 3px 3px #aaa;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.9);
	border-radius: 50px;
	font-size: 20px;
}

.error-msg {
	font-size: 12px;
	line-height: 15px;
	color: #de4c3c;
	margin-top: 8px;
}

.req_callback {
	margin: 10px 15px;
	color: #ffffff;
	background-color: #0a89ff !important;
	border: 1px solid #0a89ff;
	padding: 8px;
}
.or {
	margin: 5px auto;
	font-weight: 400;
	color: #aaa;
}
.toastmsg {
	display: flex;
	align-items: center;
	justify-content: center;
	color: green;
}
.toastmsg .error {
	color: red;
}
.ticket-pagination {
	display: flex;
	min-width: 112px;
	height: 20px;
	font-size: 12px;
	margin-left: 32px;
}
.ticket-pagination i {
	color: #000000;
	font-size: 24px;
}
.ticket-pagination > span {
	cursor: pointer;
}
.ticket-pagination > span:hover {
	text-decoration: underline;
}
.ticket-pagination .prev {
	margin-right: auto;
}
.ticket-pagination .page {
	margin-top: 5px;
	font-size: 14px;
	color: #98a2b3;
}
.ticket-pagination .next {
	margin-left: auto;
}
button.req_callback:disabled,
button.support-submit-btn:disabled {
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;
}
.prev-query {
	padding: 15px 13px 15px 15px;
	border-bottom: 1px solid #999;
	position: sticky;
	top: 55px;
	background: #fff;
	z-index: 1;
	box-shadow: -1px 3px 6px 0px rgb(0 0 0 / 25%);
}
.ticket-hidden {
	display: none !important;
}
.more-details {
	display: flex;
	flex-direction: column;
	padding-top: 8px;
	margin-top: 8px;
	border-top: 1px dashed #ccc;
	font-size: 14px;
	height: max-content;
	transition: height 500ms, opacity 500ms;
}
.more-details .detail {
	display: flex;
	flex-direction: column;
	padding: 5px 0;
}
.more-details .detail .key {
	font-weight: 500;
	color: #333;
	margin-right: 5px;
}
.more {
	margin-left: auto;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3px 6px;
	transition: background 300ms, rotate 300ms;
}
.more:hover {
	cursor: pointer;
	background: #efefef;
}
.more i {
	font-size: 14px;
	padding: 5px;
}
.more.up i {
	transform: rotate(180deg);
}
.support-expanded-form-view {
	display: flex;
	flex-direction: column;
	width: 600px;
	margin: 0 auto;
	background: #fff;
	padding: 30px;
	margin-top: -50px;
}
select.issuetype:disabled {
	color: rgba(0, 0, 0, 0.3);
}
#zoho-support-button {
	position: relative;
}
.zoho.zoho-help-button.fa-headphones {
	color: #333;
	background: #fff;
	height: 30px;
}
.zoho-new-badge {
	position: absolute;
	top: -5px;
	background: red;
	padding: 3px;
	font-size: 7px;
	right: 0;
	border-radius: 9px;
	text-transform: uppercase;
	font-weight: 500;
}
.ticket-list-container .NA {
	display: flex;
	width: 100%;
	padding: 20px;
	align-items: center;
	justify-content: center;
	color: #999;
}
.ticket-list-container {
	/* margin-bottom: 200px; */
	display: flex;
	flex-direction: column;
}
.rmContainer {
	display: flex;
	flex-direction: column;
	padding: 4px 4px 0px 12px;
	background: #eff8ff;
	box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25);
	position: sticky;
	bottom: 0;
	z-index: 100;
}
.rmContainer i {
	font-size: 18px;
	color: #53b1fd;
	padding-right: 6px;
	margin-top: 4px;
}
.rmHeading {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #c11574;
}
.rmName {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #1d2939;
}
.rmNewBadge {
	padding: 1.45098px 7.2549px;
	background: #fedf89;
	border-radius: 11.6078px;
	color: #344054;
	justify-content: center;
	align-items: center;
	font-size: 14px;
}
.rmMail {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #667085;
}
.rmMail:hover {
	text-decoration: underline;
	color: #175cd3;
}
.rmContact {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #667085;
}
.reqCB {
	display: flex;
	flex-direction: column;
}
.block-callback-blanket {
	position: fixed;
	top: 0;
	z-index: 11;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	height: 0px;
	box-sizing: border-box;
	transition: top 0.3s;
}
.block-callback-blanket.active {
	top: 80px !important;
}
.block-callback-blanket.animate_opac {
	animation: 1s opacityAnimate ease infinite;
}
@keyframes opacityAnimate {
	from,
	to {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

.block-callback-blanket .block-callback {
	margin: 0 auto;
	background: #fff;
	color: red;
	padding: 15px 30px;
	display: flex;
	align-items: center;
	box-shadow: inset 7px -1px 0 #ff5544;
	position: relative;
}
.close_cb_req {
	position: absolute;
	right: 0px;
	color: #888;
	font-size: 20px;
	padding: 5px;
	cursor: pointer;
}
.support-attachments {
	display: flex;
	flex-direction: column;
	padding: 10px 15px;
}
.support-attachments .title-div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px dashed #999;
}
.upload-container {
	position: relative;
}
#fileList {
	margin: 5px 0;
}
.file-list {
	display: flex;
	flex-direction: row;
}
.support-form-label {
	border: 1px solid #999;
	padding: 5px;
	font-size: 11px;
	cursor: pointer;
}
.add-attachment {
	margin-left: auto;
}
.format-info {
	font-size: 10px;
	margin-left: 2px;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.5);
}
.hasMenuBadge {
	position: relative;
}
.hasMenuBadge a {
	padding-right: 11px !important;
}
.menuBadge {
	position: absolute;
	top: 4px;
	background: red;
	padding: 3px;
	font-size: 8px;
	line-height: 8px;
	right: 0;
	border-radius: 9px;
	font-weight: 700;
}
#react_settings_mfe {
	margin-top: 50px;
}
#specialty_header {
	color: rgba(102, 112, 133, 1);
}
