<!-- Profile Sidebar -->
<div class="profile-sidebar doctor-sidebar profile-sidebar-new">
  <div class="widget-profile pro-widget-content" *ngIf="doctorDetails">
    <div class="profile-info-widget">
      <div class="profile-det-info">
        <h3>{{ doctorDetails.doctorName }}</h3>

        <div class="patient-details">
          <h5 class="mb-0">{{ doctorDetails.doctorDegree }}</h5>
        </div>

        <span class="badge doctor-role-badge">
          <i class="fa-solid fa-circle"></i>
          {{ doctorDetails.doctorDepartmentName }}
        </span>
      </div>
    </div>
  </div>
  <div class="dashboard-widget">
    <nav class="dashboard-menu">
      <ul>
        <li *ngFor="let item of menu" routerLinkActive="active">
          <!-- If menu item has a route -->
          <a *ngIf="item.route" [routerLink]="item.route">
            <i [class]="item.icon"></i>
            <span>&nbsp; {{ item.label }}</span>
          </a>

          <!-- If menu item is an action (like Logout) -->
          <a *ngIf="item.action" (click)="handleMenuAction(item.action)">
            <i [class]="item.icon"></i>
            <span>&nbsp; {{ item.label }}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<!-- /Profile Sidebar -->
