<!-- Profile Sidebar -->
<div class="profile-sidebar doctor-sidebar profile-sidebar-new">
  <div class="widget-profile pro-widget-content" *ngIf="doctorDetails">
    <div class="profile-info-widget">
      <div class="profile-det-info">
        <h3>{{ doctorDetails.doctorName }}</h3>

        <div class="patient-details">
          <h5 class="mb-0">{{ doctorDetails.doctorDegree }}</h5>
        </div>
@if(doctorDetails?.doctorSpeciality){
        <span  class="badge doctor-role-badge">
          <i class="fa-solid fa-circle"></i>
          {{ doctorDetails.doctorSpeciality }}
        </span>
      }
      </div>
    </div>
  </div>
  <div class="dashboard-widget">
    <nav class="dashboard-menu">
  <ul>
    <li *ngFor="let item of menu"  routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: isExactRoute(item) }">

      <!-- NORMAL MENU (no children) -->
      <a *ngIf="!item.children && item.route"
         [routerLink]="resolveRoute(item)"
         routerLinkActive="active">
        <i [class]="item.icon"></i>
        <span>&nbsp; {{ item.label }}</span>
      </a>

      <!-- DRUG DROPDOWN -->
      <a *ngIf="item.children"
         href="javascript:void(0)"
         (click)="item.expanded = !item.expanded">
        <i [class]="item.icon"></i>
        <span>&nbsp; {{ item.label }}</span>
        <i class="fa fa-chevron-down float-end"></i>
      </a>

      <!-- SUB MENU -->
      <ul *ngIf="item.children && item.expanded" class="submenu">
        <li *ngFor="let child of item.children" routerLinkActive="active">
          <a [routerLink]="resolveRoute(child)">
            <i [class]="child.icon"></i>
            <span>&nbsp; {{ child.label }}</span>
          </a>
        </li>
      </ul>

    </li>
  </ul>
</nav>

  </div>
</div>
<!-- /Profile Sidebar -->