.submenu {
  padding-left: 20px;
}

.submenu li a {
  font-size: 14px;
  padding: 8px 12px;
}

.submenu li.active a {
  background: #eef7ff;
  border-radius: 5px;
}
.dashboard-menu ul {
    padding-left: 20px;
}