.submenu {
  padding-left: 20px;
}

.submenu li a {
  font-size: 14px;
  padding: 8px 12px;
}

.submenu li.active a {
  background: #eef7ff;
  border-radius: 5px;
}
.dashboard-menu ul {
    padding-left: 20px;
}

.profile-sidebar.profile-sidebar-new .widget-profile .profile-info-widget::after {
    content: "";
    width: 100%;
    height: auto !important;
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}