<ul class="nav nav-pills mb-3">
  <li class="nav-item" *ngFor="let tab of tabs">
    <button
      class="nav-link"
      [class.active]="activeTab.masterId === tab.masterId"
      (click)="onTabClick(tab)">
      {{ tab.name }}
    </button>
  </li>
</ul>

<div class="card shadow-sm border-0 rounded-4">
  <div class="card-body">

    <div class="d-flex justify-content-between align-items-center mb-3">
      <h6 class="fw-bold mb-0">{{ activeTab.name }}</h6>

      <button class="btn customBtn btn-sm" (click)="openAddPopup()">
        + Add {{ activeTab.name }}
      </button>
    </div>

<table class="table table-hover align-middle">
  <thead class="table-light">
    <tr>
      <th style="width: 70%">Value</th>
      <th class="text-center" style="width: 30%">Action</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of listData">
      <td>{{ item.value }}</td>

      <td class="text-center">
        <button
          class="btn btn-sm btn-outline-warning me-2"
          (click)="openEditPopup(item)">
          <i class="fa-solid fa-pencil"></i>
        </button>

        <button
          class="btn btn-sm btn-outline-danger"
          (click)="deleteItem(item)">
          <i class="fa-solid fa-trash"></i>
        </button>
      </td>
    </tr>

    <tr *ngIf="listData.length === 0">
      <td colspan="2" class="text-muted text-center">
        No records found
      </td>
    </tr>
  </tbody>
</table>


  </div>
  <div
    class="d-flex justify-content-between align-items-center mt-3"
    *ngIf="totalPages > 1">

    <div class="text-muted">
      Showing page {{ pageNumber }} of {{ totalPages }}
    </div>

    <ul class="pagination mb-0">

      <li class="page-item" [class.disabled]="pageNumber === 1">
        <a class="page-link" (click)="previousPage()">&laquo;</a>
      </li>

      <li
        class="page-item"
        *ngFor="let p of pages"
        [class.active]="pageNumber === p">
        <a class="page-link" (click)="goToPage(p)">{{ p }}</a>
      </li>

      <li class="page-item" [class.disabled]="pageNumber === totalPages">
        <a class="page-link" (click)="nextPage()">&raquo;</a>
      </li>

    </ul>
  </div>
</div>


<div class="modal fade" id="addHelperModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-4">

      <div class="modal-header">
        <h5 class="modal-title">
          {{ isEditMode ? 'Edit' : 'Add' }} {{ activeTab.name }}
        </h5>

        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <textarea
          class="form-control"
          rows="4"
          placeholder="Enter {{ activeTab.name }}"
          [(ngModel)]="inputValue">
        </textarea>
      </div>

      <div class="modal-footer">
        <button class="btn customBtn" (click)="saveData()">
          Save {{ activeTab.name }}
        </button>
      </div>

    </div>
  </div>
</div>
